.para1{
    font-size: 18px;
    line-height: 26px;
  
}
.backgroundabout{
    background-color: #fdf6ff;

    padding: 100px;
}
.abouthead{
    font-size: 40px;
    font-weight: 800;
    color: #7f29c1;
}
.cardabout{

    width:460px;
    height: 224px;
border: none;
    border-radius: 20px;
    background-color: #fbf3fe;
}
.headwhats{
    font-size: 36px;
    font-weight: 800;
color: #7f29c1;
}

/* timeline css */
 ul.timeline-3 {
    list-style-type: none;
    position: relative;
  }
  ul.timeline-3:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline-3 > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline-3 > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }

  
  .importanthead2{
    font-size: 18px;
    font-weight: 600;
  }
  .importantbg{
    margin-top: 100px;
    background-color: #fdf6ff;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .importantbtn{
    width: 280px;
    height: 50px;
    border: none;
    background-color: #7f29c1;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 600;
  }

  /* accordian */
  /* footer */
  .androidapbtn{
    height: 44px;
    width: 166px;
    background: none;
    border: 1px solid white;
font-size: 14px;
font-weight: 500;
color: white;
border-radius: 5px;
}

.btn-margin {
  margin-left: 10px;
}
a{
    color: white !important;
    font-weight: bold;
}
.btn{
    background-color: #82caaf;
    border: none;
}
.btn:hover{
  background-color: white;
  color: black;
  border: none;
}
/* navbar end */