* {
    box-sizing: border-box;
}

html , body{
    height: 100%;
    padding: 0;
    margin: 0;
    background: lightgray;
    font-family: 'Lora', serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lora', serif;
    color: rgb(0, 0, 0);
    margin: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.btn{
    padding: 0.5rem 1rem;
    background: #00696d;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    float: right;

}

.btn:hover{
    color: white !important;
    background: #05afb5;
}

.text-input{
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    color: green;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-family: 'Lora' serif;

}

/* Navbar */

header {
    background-color: rgb(14, 199, 174);
    height: 66px;
}

header * {
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
    /* border: 1px solid red; */
}

header .logo-text{
    margin: 8px;
    font-family: 'Candal', serif;
}

header .logo-text span{
    color: rgb(0, 0, 0);
}

header ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    /* border: 1px solid red; */
}

header ul li{
    float: left;
    position: relative;

}

header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 88888;
}

header ul li:hover ul{
    display: block;
    transition: 5s;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a{
    padding: 10px;
    background-color: white;
    color: #444;
}

header ul li ul li a.logout{
    color: red;
}

header ul li ul li a:hover{
    background: #9acfcb;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    background: #00696d;
    transition: 0.5s;

}

header .menu-toggle{
    display: flex;
}

.page-wrapper{
    min-height: 100%;
}

.page-wrapper a:hover{
    color: cadetblue;
}

/* Post Slider */
.post-slider{
    position: relative;
}

.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
}

.post-slider .next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: bisque;
    cursor: pointer;
}
.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: bisque;
    cursor: pointer;
}
.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;

}
.post-slider .post-wrapper .post{
    width: 300px;
    height: 330px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem rgb(172, 122, 87);
}

.post-slider .post-wrapper .post .post-info{
    height: 130px;
    padding: 0px 7px;
}

.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Content */
.content{
    width: 90%;
    margin: 30px auto 30px;
}

.content .main-content{
    width: 70%;
    float: left;
}
.content .main-content .post{
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: relative;
}

.content .main-content .post .read-more{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid rgb(6, 119, 96);
    background: transparent;
    border-radius: 0px;
    color: #03ad9f !important;
}

.content .main-content .post .read-more:hover{
    background: #05afb5;
    color: white !important;
    transition: .25s;
}

.content .main-content .post-image{
    width: 40%;
    height: 100%;
    float: left;
}

.content .main-content .post .post-preview{
    padding: 10px;
    width: 60%;
    float: right;
}

.content .main-content .recent-post-title{
    margin: 20px;
}

.content .sidebar{
    width: 30%;
    float: left;
    height: 300px;

}

.content .sidebar .section{
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .sidebar .section .section-title{
    margin: 10px 0px 10px 0px;
}

.content .sidebar .section.search{
    margin-top: 80px;
}

.content .sidebar .section.topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid rgb(21, 171, 173);


}

.content .sidebar .section.topics ul li a{
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid rgb(21, 171, 173);
    transition: all 0.3s;

}

.content .sidebar .section.topics ul li a:hover{
    padding-left: 10px;
    transition: all 0.3s;
}

/* Footer */
.footer{
    background: rgb(8 2 2 / 78%);
    color: white;
    height: 400px;
    position: relative;
}

.footer .footer-content{
    height: 350px;
    display: flex;

}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
}

.footer .footer-content h1, .footer .footer-content h2{
    color: white;
}

.footer .footer-content .about h1 span{
    color: #05afb5;
}
.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .about .socials a{
    border: 1px solid gray;
    width: 45px;
    height: 40px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}
.footer .footer-content .about .socials a:hover{
    border: 1px solid white;
    color: white;
    transition: all 0.3s;
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer .footer-content .links ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .footer-content .contact-form .contact-input {
    background: #272727;
    color: #e0e0e0;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
}
.footer .footer-content .contact-form .contact-input:focus {
    background: #1a1a1a;
}

.footer .footer-content .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
    font-family: 'Lora', serif;
}

.footer .footer-bottom{
    background: #444;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

/* Media Queries */

@media only screen and (max-width: 750px){

    header{
        position: relative;
    }

    header ul{
        width: 100%;
        background :rgb(109, 197, 195);
        max-height: 0px;
        overflow: hidden;
    }
    .showing{
        max-height: 100em;
    }


    header ul li{
      width: 100%;
    }
    header ul li ul{
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a{
        padding: 10px;
        background-color: rgb(109, 197, 195);
        color: white;
        padding-left: 50px;
    }
    
    header ul li ul li a:hover{
        background: #9acfcb;
    }

    header ul li ul li a.logout{
        color: red;
    }
    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }
    header .logo{
        margin-left: .8em;
    }
}


