
body{
    background-color: #fffefe;
    color: #0f231c;
}
.h-01-bold{
    font-size: larger;
    font-family: monospace;
    font-weight: bolder;
    color: #1e4738;
    /* font-family: Brush Script MT, Brush Script Std, cursive; */

}
.h-02-bold{
    text-align:  center;
    font-size: larger;
    color: #1e4738;
    /* font-family: mon
    ospace; */
    /* font-weight: bold; */
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.h-03-bold{
    /* font-family: Stencil Std, fantasy; */
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 40px;
}
.h-04-bold{
    font-family: Jazz LET;
}
.text1{
    /* box-shadow:   inset 0.3em 0.1em 1em#b8dfd1,
                0.111em 0.1em 1em#3f8c71;; */
    /* margin-left: 105px; */
}

.nav-section{
background-color: #c9d9e8;
}

.navbar-brand{
     /* position: absolute; */
    left: 0;
    text-align: left;
}
.nav{
    width:100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#b7e0d1;
    z-index: 999;
    padding: 10px 120px;
    
 
}


/* -----------------Hero Section------------------ */

.hero-section{
    background-color:#4faf8e;
    padding-top: 40px ;
    min-height:  750px;
}

.registration-section {
    display: flex;
    flex-direction: row;
    padding-top: 80px;

}

.registration-section .registration-form h3{
    text-align: center;
    /* padding-bottom: 10px; */
}


.registration-form {
       background-color:    #dbefe8;
       margin: 30px 0px 5px 0px;  
       padding: 40px;
       border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 

/* --------Responsive---------- */
 @media screen and (max-width: 767px) {
    .registration-section {
      padding: 20px;
      display: flex;
     justify-content: center;
    }
    .registration-form{
        /* width: 100%;   */
        /* border-radius: 0px; 
        box-shadow: 0 0 0px rgba(0, 0, 0, 0); */
    }
    .nav{
        padding: 10px 20px;
    }
  } 

  /* ****************Hero-Section****************** */
.banner{
    position: relative;
}
a 
.banner-text {
    color: #333;
    padding: 0px 0px;
    text-align: center;
    font-size: 24px;
    margin-left: 20px;
    
}
.banner-text h2{
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-top: 24px;
    color: #0f231c;
}

/* button{
 width: 100%;
} */
.subheading-00{
    color:#efe8db;
    text-align: center;
    font-size: 28px;
    
}

.subheading-00 .h-07-bold {
      font-weight: bold;
      color:#1f4638;
}

/* ******Hassle-Free Section********** */
.hassle-free{
    padding-top: 20px;
    margin-bottom: 20px;
    /* padding: 20px; */
}

/* Styles for large screens */
 @media (min-width: 980px) {
    .hassle-free .h-07-bold {
        font-weight: bold;
        /* color:#d7e0dc; */
        font-size: xx-large;
    }
    
    .features-div{
        text-align: center;
        display: block;
    }
    .feature-card{
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: left;
        padding: 10px;
        cursor: pointer;
    }
    .features{
        margin-top:6px;
        padding-top: 20px;
        font-size: 14px;
        color:#333;
        
    }
    .feature-card-body{
        display: flex;
        align-items: center;
        /* padding: 10px 20px; */
    }
    .feature-card-body .text{
        padding: 10px 20px 10px 20px;
    }
    .sidebar-div{
        /* padding: 20px; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 1;
        border: 1px solid #ddd;
        border-radius: 10px;
    
    }
    
    .feature-card:hover{
        border-left: solid 3px #4faf8e;
        border-radius: 4px;
        background-color: #95cfbb30 ;
    }
    
    .feature-card:active{
        /* padding: 0px; */
        border-left: solid 3px #4faf8e;
        border-radius: 4px;
        background-color:#ddd; 
        /* border: width 10% ; */
      
    }
    .feature-card .icon i{
            font-size: 2em; 
            /* color: #ffcc00; Color of the icon */
            display: flex;
            justify-content: center;
            align-items: center;
    }
    .feature-card .icon:hover{
          background-color:#ddd;    
    }
    .mainbar-div{
        /* padding: 20px; */
        position: relative;
        /* border: 1px solid #ddd; */
        /* border-radius: 50px; */
        /* width: 100%;
        height: 100%; */
        /* background-color: #dbefe8; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* min-height: 200px;  */
    }
    .mainbar-div img{
      overflow: hidden;
       border: 1px solid #ddd; 
       border-radius: 50px;
    
    }
            .features {
                display: flex;
                justify-content: space-between;
            }

            .sidebar-div {
                flex-grow: 1;
                margin-right: 20px;
            }

            .main-feature {
                flex-basis: 30%;
                background-color: #f0f0f0;
            }

            .main-feature-animated {
                flex-basis: 20%;
                display: flex;
                justify-content: space-between;
                background-color: #f0f0f0;
            }

            .img-1,
            .img-2,
            .img-3 {
                flex-basis: 30%;
                height: 100px;
                background-color: #ccc;
            }

            .feature-heading-main h2 {
                font-size: 2rem;
            }

            .features-small-screen {
                display: none;
            }


}
@media (max-width: 980px) {


    .hassle-free{
        display: block;
        background-color:#b7e0d1;
    }
    .hassle-free .h-07-bold {
        font-weight: bold;
        color:#d7e0dc;
        font-size: x-large;
    }
    
    .features-description{
        margin-top: 10px;
        display:flex;
        align-items: center;
        justify-content:flex-start;
        gap: 1rem;
        /* background-color:; */
        
    }
    .features-small-screen .feature-card{
        margin-bottom: 20px;
    }
    .feature-card-body{
        display: flex;
        justify-content: center;
      

    }

   

    .features-small-screen .feature-img-div {
        /* max-width: 100%; */
        /* position: relative;
        /* overflow: scroll; */
        /* box-sizing: border-box; */
        /* background-color: #ccc; */
        margin-bottom: 10px; */
    }
    .feature-img-div{
        /* max-width: 768px;
        height: 250px;
        border-radius: 50px; */
        /* object-fit: fill;
        display: flex;
        justify-content: center;
         align-items: center; */
    }
    .feature-img-div img{
        width: 100%;
        padding: 10px 0;
        border-radius: 10px;
        position: relative;
        overflow: overlay;
        box-sizing: border-box;
        object-fit: contain;
    }
    .features-large-screen {
        display: none;
    }

    .feature-heading-main h2 {
        font-size: 1.5rem;
    }

}
/* .feature-card-body .text :hover{
color: #83a6c7;
} */


/* hire form */
/* .candidates{
    display: flex;
    gap: 10px;
    border: solid #30303088;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
    
} */


/* ************whyhire*********** */
.whyhire{
    background-color: #dbefe8;
    /* margin-top: 10px;
    margin-bottom:10px; */
    padding: 20px 10px;
    text-align: left;
    font-family: 'Inter var', sans-serif;
}
.whyhire h2{
    color: #0f231c;
    font-family: 'Inter var', sans-serif;
    font-weight:  600;
    line-height: 1.4;
    letter-spacing: -0.03em;
}
.candidates{
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #DDD;
    border-radius: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px 2px;
}
.candidates h4{
    font-weight: bold;
    color:#257ea1;
}
.candidate1{
    text-align: center;
    padding: 2px;
    border-right: 1px solid #DDD;
}
.candidate2{
    padding: 2px;
    text-align: center;
}
/* --------Responsive---------- */
@media screen and (max-width: 767px) {
    .candidates{
        border-radius: 20px;
        padding: 10px 2px;
        align-items: start;
    }
  }
/* **********Sponsors************ */

  .h-07-bold{
    text-align: left;
    color: #0f231c !important;
    font-family: 'Inter var', sans-serif;
    font-weight: 600   ;
  }

.sponsors {
	background-color: #f8f8f8d7;
	height: 200px;
	display: block;
    text-align: center;
    padding-top: 20px;
}

.wrapper {
	background-color:#f8f8f8d7;
	height: 130px;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.wrapper:before, .wrapper:after {
	content: "";
	position: absolute;
	height: 130px;
	width: 150px;
	z-index: 2;
}

.wrapper:after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.wrapper:before {
	left: 0;
	top: 0;
}

.wrapper .track {
	display: flex;
	width: calc(150px * 10);
	animation: scroll 15s 0.5s linear infinite;
}

.wrapper .logo {
	width: 150px;
}

.wrapper .logo img {
	height: 90px;
}

@keyframes  scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-150px * 5));
	}
}


/* ************faq **********************/
.faq{
    margin: 0;
    padding: 20px 20px 40px 20px;
    background-color: #dbefe8;
   
}
.faq .faqheader{
    color: #0f231c;
    font-family: 'Inter var', sans-serif;
    font-weight:  600;
    line-height: 1.4;
    letter-spacing: -0.03em;
}
/* .questions{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

